# .travis.yml of coveralls-gradle-plugin

language: groovy

jdk:
- oraclejdk7

env:
- TERM=dumb

after_success:
- ./gradlew cobertura
- ./coveralls.groovy

after_failure:
- ./gradlew clean check --debug
