# .travis.yml of coveralls-gradle-plugin

language: groovy

jdk:
- oraclejdk7
- oraclejdk8

after_success:
- ./gradlew check jacocoTestReport coveralls

after_failure:
- ./gradlew clean check --debug
